@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
li{
	list-style: none;	
}
a{
	text-decoration: none;
}
body{
	overflow-x: hidden;
}
.header{
	width: 100%;
	height: 100vh;
	background-image: url('../images/slide.jpg');
	background-size: cover;
	background-position: center;
}
/*top nav style*/
.main-nav{
	background-color: #140236;
	color: #fff;
	height: 65px;	
}
.top-nav{
	width: 100%;
	display: flex;
	/*justify-content: space-between;*/
}

.navbar{
	width: 45%;
	height: 65px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #ffff !important;
	padding-right: 30px !important; 
	padding-left: 0px !important;
}
@media screen and (max-width: 990px){
	.bg-col{		
		background-color: #140236; 
	}
}
.logo{
	width: 10%;
}
.right-nav{
	width: 45%;
	height: 65px;
	line-height: 60px;
	padding-top: 0px;
}
.right-nav li{
	margin-left: 30px;
}
.left-link button{
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 0px !important;
}
.right-nav button{
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1.5rem;
}
.right-nav li a{
	color: #fff;
	text-decoration: none;
}
/*end of top nav*/
/*side bar nav*/
.side-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 340px;
	height: 1000%;
	background-color: #fff;
	transform: translate(-100%);
	transition: all 400ms linear;		
}
.sid-logo{
	background-color: #140236;
}
.show-side-nav{
	transform: translate(0);
	transition: all 400ms linear;	
}
.side-nav-list a{
	text-decoration: none;
	color: #444;
}
/*end of side bar nav*/
/*slider area */
.slider{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slide-box{
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 3.5rem;
}
.left-box{
	width: 35vw;
	padding: 10px;
	background-color: rgba(255,255,255, 0.5);
}
.right-box{
	width: 30vw;
	align-self: flex-end;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 5px;
}
.bottom-box{
	background-color: #140236;
	padding: 15px 10px;
}
/*end of slider area*/
@media screen and (max-width: 375px){
	.slider{height: 95vh;}
	.slide-box{height: 60vh;}
	.left-box{
		width: 100% !important;
		padding: 5px;
	}
	.right-box{width: 100% !important; padding-top: 5px;}
	.bottom-box{padding: 10px 5px;}
}
@media screen and (max-width: 450px){
	.slider{height: 95vh;}
	.slide-box{height: 60vh;}
	.left-box{
		width: 95vw;
		padding: 5px;
	}
	.right-box{width: 90vw;}
	.bottom-box{padding: 10px 5px;}
}
@media screen and (max-width: 600px){
	.slider{height: 95vh;}
	.left-box{width: 85vw;}
	.right-box{width: 80vw;}
}
@media screen and (max-width: 770px){
	.slider{height: 95vh;}	
	.left-box{width: 75vw;}
	.right-box{width: 70vw;}
}
@media screen and (max-width: 1070px){
	.slider{height: 95vh;}	
	.left-box{width: 65vw;}
	.right-box{width: 60vw;}
}
/*next-section*/
.next-section{
	width: 100%;
	background-color: #0d0d0d;
	color: #fff;
	padding: 3rem 10px;	
}
.grid{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(12, 30px);
}
.grid-box>img{
	width: 100%;
	height: 100%;
}
.grid-box-1{
	grid-column: 2 / 4;
	grid-row: 1 / 12	 
}
.grid-box-2{
	grid-column: 3 / 5;
	grid-row: 3 / 13;
	z-index: 20;
}
.grid-box-3{
	grid-column: 4 / 6;
	grid-row: 1 / 12;	
}
/*end next section*/
/*full-with-img*/
.full-with-img{
	width: 100%;
	height: 550px;
	background-color: #080808;
	background-image: url('../images/full-width-2.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.full-with-img .h-1{
	color: #fff;
	font-family:Luminari-Regular; 
	padding-top: 10px;
}
.full-with-img .h-3 {
    background-color: rgba(0,0,0, 0.5);
    padding: 10px 0px;
    color: #e4e4e4;
}
.full-with-img img{
	width: 100%;
	margin-top: 25px;
}
.full-width-text{
	position: absolute;
	bottom: 0px;
	left: 15%;
	color: #fff;
	background-color: rgba(255,255,255, 0.5);
	padding: 5px 20px;
}
/*end of full width image*/
.third-section{
	width: 100%;
	padding: 5rem 0px;
	background-color: #080808;
	color: #fff;
}
.row .third-text{
	padding: 20px 15px;
}
.third-img img{
	width: 100%;	
}
/*end of third sectioon*/
/*four-section*/
.four-section{
	width: 100%;
	background-color: #0d0d0d;
	color: #fff;
}
.four-section .inner-flex>*{
	padding: 5px; 
}

.four-img img{
	width: 100%;
}
/*end four sectionn*/
/*five-section*/
.five-section{
	width: 100%;
	background-color: #0f0f0f;
	padding: 4rem 0px;
}
.five-section img{
	width: 100%;
}
.five-section h3{
	color: #fff;
}

.last-section{
	width: 100%;
	height: auto;
	background-color: #0a0a0a;
	padding: 2.5rem 0px;
}
.last-section .card {
	width: 100%; 
	background-color: #0d0d0d;
	color: #fff !important;
}
.last-section .card:hover{
	box-shadow: 0 4px 8px 0px #4444;
}
.last-section img{
	width: 100%;
}
.footer{
	width: 100%;
	height: auto;
	background-color: #283138;
	color: #fff;
}

.foot-mar-t{
	padding: 5rem 0px;
}
.foot-mar-t img{
	width: 60%;
}
.foot-nav-list a>*{
	padding-right: 15px;
}
.foot-nav-list a{
	text-decoration: none; 
	color: #fff;
	font-size: 16px;
	 }
.foot-nav-list>*{
	margin-right: 20px;
	padding-left: 1rem;
}
.foot-nav-list{
	line-height: 40px;
	width: 60%;
	padding-top: 25px;
}
.follow .input-group>*{
	padding: 5px;
	margin-bottom: 10px;
}
.follow .input-group input:first-child{background-color: transparent; border-bottom: 1px solid #0d0d0d;}
.follow .input-group input:last-child{ border-radius: 25px !important;}
/*.follow .input-group>*{border: 1px solid red !important;}*/
.follow .input-group input{border:none;}
.follow .input-group button{
	border: none;
	background-color: #0d0d0d;
	color: #ffff;
}
.foot-so-icon>*{
	font-size: 1rem;
	padding: 15px 10px;
}
.copyright{
	width: 100%;
	background-color: #0d0d0d;
	text-align: center;
	padding: 10px 0px;
}